{% extends "base.html" %}

{% block content %}
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
               {{ messages[0] }}
            {% endif %}
        {% endwith %}
<form method="POST" action="/login">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button>Login</button>
        </form>
    </div>
</div>
{% endblock %}